[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
python-decouple = "*"
dj-database-url = "*"
psycopg2-binary = "*"
django-cors-headers = "*"
drf-yasg = "*"
whitenoise = "*"
sendgrid = "*"
django-extensions = "*"
pyjwt = "*"
django-notifications-hq = "*"
social-auth-app-django = "*"
social-auth-core = "*"
django-filter = "*"

[dev-packages]

[requires]
python_version = "3.9"
